.form-group {
  padding: 20px 20px 0px 20px;
}

.chitchat {
  color: rgb(104, 31, 126);
}
.input-area {
  width: 35%;
  padding-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .input-area {
    width: 100%;
  }
  .btn-outline-primary {
    float: right;
  }
  .form-control {
    width: 100%;
  }
}

.btn-primary {
  color: #fff;
  background-color: rgb(104, 31, 126, 0.5);
  border-color: rgb(104, 31, 126, 0.5);
  margin-right: 20px;
}
.btn-outline-primary {
  color: rgb(104, 31, 126);
  border-color: rgb(104, 31, 126);
}
